<h1 class="page_title">新增訪客</h1>
<br>
<%= render "form", visitor: @visitor %>

<br/>
<p>這邊我做了一些驗證處理</p>
<p>欄位不可為空.帳號密碼需要6-12碼.信箱需要正確的格式</P>

<% if @visitor.errors.any? %>
  <div id="error_explanation">
    <h2><%= @visitor.errors.count %> 個錯誤需要處理</h2>

    <ul>
    <% @visitor.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
