<h1>您的 BMI 值為：<%= @bmi %></h1>
<p>評語: <%= @comment %></p>
<%= link_to '回上一頁', bmi_path %>
<br>
<br>
<br>
<p>評語會依照BMI結果做回應</p>
<p>總共有4種評語</p>
<p>0~18: 體重過輕了</p>
<p>18~25: 體重適中</p>
<p>>25: 體重過重請注意身體健康</p>
<p>NaN: 請輸入正確的身高體重</p>
