<h1 class="page_title">關於我</h1>
<br>
<p>你好, 很感謝您抽空點進這網頁</p>
<p>這是我的第一個Rails練習</p>
<p>接觸到Ruby的契機是之前學git的時候</p>
<p>當時看的線上教材覺得內容寫的挺好的</p>
<p>所以就順便翻翻看同作者的另一本著作 "為你自己學 Ruby on Rails"</p>
<p>之前還有大略翻過一些python.react的書籍,但是沒什麼心得</p>
<p>而這本讀起來讓我覺得Ruby挺有意思的</p>
<p>雖然這語言好像相對比較冷門一些,不過還是花了一些時間去學習</p>
<br>
<p>這網站的內容主要是參考書裡的範例和自己額外的練習</p>
<p>網頁裡面會簡單介紹一下大概寫了些什麼內容</p>
<p>課本範例裡的會說明我做了哪些新增或是有修改的部分</p>
<p>本來想做些新增和修改讓網頁更有連貫性</p>
<p>最後決定重新規劃另外來寫第二個作品</p>
<p>有會員.商品.購物車.金流的購物網站</p>
<br>
<br>
<br>
<p>個人E-mail: sby318@gmail.com</p>
<p>參考網站: <a href="https://railsbook.tw/" target="_blank" data-toggle="tooltip" title="為你自己學 Ruby on Rails">https://railsbook.tw/</a></p>
<p>作品GitHub: <a href="https://github.com/BoyuanSong/hello_rails" target="_blank">https://github.com/BoyuanSong/hello_rails</a></p>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
