<h1 class="page_title">關於我</h1>
<br>
<p>你好,很感謝您抽空點進這簡陋的網頁</p>
<p>這是我的Rails程式練習</p>
<p>我之前是中壢資策會java班的學生,主要學習的語言是java</p>
<br>
<p>接觸到Ruby的契機是之前學習git的時候</p>
<p>當時看的線上教材覺得內容寫的挺好的</p>
<p>所以就順便翻翻看同作者的另一本著作 "為你自己學 Ruby on Rails"</p>
<p>之前還有大略翻過一些python.react的書籍,但是沒什麼心得</p>
<p>而這本讀起來讓我覺得Ruby挺有意思的</p>
<p>雖然這語言好像比較冷門一些,以後用到的機會可能也不大</p>
<p>不過基於有趣,我還是花了不少時間在這上面</p>
<br>
<br>
<p>參考網站: <a href="https://railsbook.tw/" target="_blank">https://railsbook.tw/</a></p>
<p>網站GitHub: <a href="https://github.com/BoyuanSong/hello_rails" target="_blank">https://github.com/BoyuanSong/hello_rails</a></p>
<p>個人E-mail: sby318@gmail.com</p>
<p>Java作品dmeo影片:</p>
