/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

// 把網頁高度稱滿背景填色 --------------------------------------------------------
 html, .container, .row {
   height: 100%;
 }
 body {
   background-color: #eeeeee;
   height: 100%;
 }
// -----------------------------------------------------------------------------



// 網頁內容區塊 -----------------------------------------------------------------
 #content {
   margin: 0px;
   background-color: white;
   min-height:100%;
   padding-bottom: 120px;
   position: relative;
 }

// 網頁內容標題
 .page_title {
   border-left: 5px #009FCC solid;
   padding-left: 6px;
   margin-top: 70px;
   margin-bottom: 25px;
 }

 // 網頁說明區塊
  .page_hint {
    margin-top: 30px;
    border: 1px #eeeeee solid;
    border-left: 3px #FFBB00 solid;
    border-radius: 4px;
    padding-left: 6px;
  }
  .page_hint h3{
    margin-top: 5px;
  }
 // 錯誤說明區塊
 .page_invalid {
   margin-top: 30px;
   border: 1px #eeeeee solid;
   border-left: 3px #FF3333 solid;
   border-radius: 4px;
   padding-left: 6px;
 }
 .page_invalid h3{
   margin-top: 10px;
   padding-left: 8px;
 }
// 網頁底部文字
  .footer {
    width:100%;
    left: 0;
    bottom: 5px;
    position: absolute;
    color: #dddddd;
    text-align: center;
    height: 20px;
  }
// BMI那邊的錯誤訊息
  .validate_errors {
    color: red;
  }
// -----------------------------------------------------------------------------



// 網頁側邊導覽列 ---------------------------------------------------------------
 #nav {
   padding-top: 80px;
   padding-left: 40px;
 }
 #nav a {
 	text-decoration:none;
 }
 #nav p {
 	border: 1px solid #eeeeee;
  margin-bottom: 3px;
  padding: 2px;
 }
 #nav>a>p {
   padding-left: 6px;
 }
// 移到連結時的CSS效果
 #nav p:hover:not(.title) {
  text-decoration:none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
 }
// -----------------------------------------------------------------------------



// 網頁頂端部分 -----------------------------------------------------------------
 nav.header {
   background-color: #6396bc;
   margin: 0px;
   height: 55px;
   padding-right: 20px;
   padding-top: 8px;
   position: fixed;
 }
 #logo {
   color: white;
   display: inline;
   padding-left: 37px;
   font-family: "Helvetica";
 }
 p.nav {
   margin-top: 8px;
   color: white;
 }
// -----------------------------------------------------------------------------
