/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 html {
   height: 100%;
 }

 body {
   background-color: #eeeeee;
   height: 100%;
 }
 .container {
   height: 100%;
 }
 .row {
   height: 100%;
 }
 #content {
   background-color: white;
   height: 100%;
 }
 #nav {
   padding-top: 30px;
   padding-left: 40px;
 }
 #nav a {
 	text-decoration:none;
 }
 #nav p {
 	border: 1px solid #eeeeee;
  margin-bottom: 3px;
  padding: 2px;
 }
 #nav p:hover:not(.title) {
  text-decoration:none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
 }
